h1{color:black;font-size18}

a{color:Yellow;font-size16}

button{background-color:green;
  font-size:60px;
  color:Yellow;
  border:1px solid yellow;
  
}

body {
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTwAczASdEoC0qChWKE5zVLibrD1ITUm1y-utBCgrP2dyLTiZAD8w'); width = 900 length = 900
}

h2{color:Yellow}























